<li>
        <a href="{{ site.introduction }}" class="otherLinkColour">Introduction</a>
</li>
<li>
        <a href="{{ site.architecture }}" class="otherLinkColour">Architecture</a>
        <ul>
                <li><a href="{{ site.architecture }}input.html" class="otherLinkColour">Input</a></li>
                <li><a href="{{ site.architecture }}image-processing/index.html" class="otherLinkColour">Image
                                Processing</a>
                        <ul>
                                <li><a href="{{ site.architecture }}image-processing/region-predetection.html"
                                                class="otherLinkColour">Region Pre-detection</a></li>
                                <li><a href="{{ site.architecture }}image-processing/shared-detection.html"
                                                class="otherLinkColour">Shared
                                                Detection</a></li>
                                <li><a href="{{ site.architecture }}image-processing/barcode-localization.html"
                                                class="otherLinkColour">Barcode Localization</a></li>
                                <li><a href="{{ site.architecture }}image-processing/barcode-decoding.html"
                                                class="otherLinkColour">Barcode
                                                Decoding</a></li>
                                <li><a href="{{ site.architecture }}image-processing/textline-localization.html"
                                                class="otherLinkColour">Text-line Localization</a></li>
                                <li><a href="{{ site.architecture }}image-processing/textline-recognition.html"
                                                class="otherLinkColour">Text-line Recognition</a></li>
                                <li><a href="{{ site.architecture }}image-processing/document-detection.html"
                                                class="otherLinkColour">Document Detection</a></li>
                                <li><a href="{{ site.architecture }}image-processing/document-normalization.html"
                                                class="otherLinkColour">Document Normalization</a></li>
                        </ul>
                </li>
                <li><a href="{{ site.architecture }}semantic-processing.html" class="otherLinkColour">Semantic
                                Processing</a>
                </li>
                <li><a href="{{ site.architecture }}output.html" class="otherLinkColour">Output</a></li>
        </ul>
</li>
<li>
        <a href="{{ site.parameter }}" class="otherLinkColour">Parameters</a>
        <ul>
                <li><a href="{{ site.parameter }}file/index.html" class="otherLinkColour">Parameter Organization</a>
                        <ul>
                                <li><a href="{{ site.parameter }}file/capture-vision-template.html"
                                                class="otherLinkColour">CaptureVisionTemplate Object</a></li>
                                <li><a href="{{ site.parameter }}file/image-source.html"
                                                class="otherLinkColour">ImageSource Object</a></li>
                                <li><a href="{{ site.parameter }}file/target-roi-definition/index.html"
                                                class="otherLinkColour">TargetROIDef Object</a>
                                </li>
                                <li><a href="{{ site.parameter }}file/semantic-processing/index.html"
                                                class="otherLinkColour">SemanticProcessing Object</a>

                                </li>
                                <li><a href="{{ site.parameter }}file/task-settings/index.html"
                                                class="otherLinkColour">Task
                                                Settings</a>
                                        <ul>
                                                <li><a href="{{ site.parameter }}file/task-settings/barcode-reader-task-settings.html"
                                                                class="otherLinkColour">BarcodeReader Task Settings</a>
                                                </li>
                                                <li><a href="{{ site.parameter }}file/task-settings/label-recognizer-task-settings.html"
                                                                class="otherLinkColour">LabelRecognizer Task
                                                                Settings</a></li>
                                                <li><a href="{{ site.parameter }}file/task-settings/document-normalizer-task-settings.html"
                                                                class="otherLinkColour">DocumentNormalizer Task
                                                                Settings</a></li>
                                                <li><a href="{{ site.parameter }}file/task-settings/code-parser-task-settings.html"
                                                                class="otherLinkColour">CodeParser Task Settings</a>
                                                </li>
                                        </ul>
                                </li>
                                <li><a href="{{ site.parameter }}file/image-parameter.html"
                                                class="otherLinkColour">Image Parameter Object</a></li>
                                <li><a href="{{ site.parameter }}file/auxiliary/index.mhtml"
                                                class="otherLinkColour">Auxiliary
                                                Settings</a>
                                        <ul>
                                                <li><a href="{{ site.parameter }}file/auxiliary/barcode-format-specification.html"
                                                                class="otherLinkColour">Barcode Format Specification</a>
                                                </li>
                                                <li><a href="{{ site.parameter }}file/auxiliary/textline-specification.html"
                                                                class="otherLinkColour">Text Line Specification</a></li>
                                                <li><a href="{{ site.parameter }}file/auxiliary/character-model.html"
                                                                class="otherLinkColour">Character Model</a>
                                                </li>
                                                <li><a href="{{ site.parameter }}file/auxiliary/global-parameter.html"
                                                                class="otherLinkColour">Global Parameter</a></li>
                                        </ul>
                                </li>
                        </ul>
                </li>
                <li><a href="{{ site.parameter }}reference/index.html" class="otherLinkColour">Parameter Reference</a>
                        <ul>
                                {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-parameter-reference.html" -%}                                
                        </ul>
                </li>
        </ul>
</li>